.over-total{
    .total-container{
        .container{
            .bg{
                background: linear-gradient(48.366deg, #509bf5, #af2896);
                width: 100%;
                height: 100vh;
                .moble-download{
                    display: flex;
                    flex-direction: column;
        
                }
                &::after{
                    background: linear-gradient(transparent, #121212 90%);
                    content: "";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
    }
}