@tailwind base;
@tailwind components;
@tailwind utilities;
.over-total{
    .total-container{
        .container{
            .bg{
                background: linear-gradient(48.366deg, #509bf5, #af2896);
                width: 100%;
                height: 100vh;
                .moble-download{
                    display: flex;
                    flex-direction: column;
        
                }
                &::after{
                    background: linear-gradient(transparent, #121212 90%);
                    content: "";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
            .main-title-area{
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 300px;
                z-index: 20;
                margin-top: -65px;
                .playlist-data{
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    justify-content: flex-end;
                    .right-side-data{
                        .check{
                            color: #fff;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            margin-bottom: -30px;
                        }
                        .artist-name{
                            color: #fff;
                            font-size: 80px;
                            font-weight: 800;
                            flex-wrap: nowrap;
                        }
                        .artist-listeners{
                            color: #fff;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
            .popular-songs-artist{
                .song-top-artist{
                    h3{
                        padding-inline: 20px;
                        color: #fff;
                        font-size: 24px;
                    }
                }
            }
            .album{
                h3{
                    color: #fff;
                    padding: 20px;
                    font-size: 24px;
                }
                .album-container {
                display: flex;
                padding-inline: 10px;
                overflow-x: scroll;
                scrollbar-width: none;

                .content {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    min-width: 190px;
                    padding: 10px;
                    gap: 5px;
                    cursor: pointer;
                    border-radius: 6px;

                    &:hover {
                        background-color: #202020;

                        .play-pause {
                            position: absolute;
                            opacity: 1;
                            right: 15px;
                            bottom: 65px;
                        }

                        .play {
                            display: flex;
                        }
                    }

                    .content-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 180px;
                        border-radius: 6px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .content-data {
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        .title {
                            font-size: 16px;
                            font-weight: 500;
                            color: white;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;

                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }


                        .name {
                            font-size: 14px;
                            font-weight: 400;
                            color: #bbbbbb;
                        }
                    }

                    .play-pause {
                        position: absolute;
                        opacity: 0;
                        right: 20px;
                        bottom: 40px;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        background-color: #65d36e;
                        padding-left: 1px;
                        transition: all 0.2s ease;
                        box-shadow: 0px 0px 5px 0px;

                        &:hover {
                            transform: scale(1.05);
                        }

                        img {
                            width: 70%;
                            height: 70%;
                        }
             
            }
                   }
                }
            }
            .similar{
                h3{
                    color: #fff;
                    padding: 20px;
                    font-size: 24px;
                }
                .similar-container{
                    display: flex;
                    padding-inline: 10px;
                    overflow-x: scroll;
                    scrollbar-width: none;
                    .content {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        min-width: 190px;
                        padding: 10px;
                        gap: 5px;
                        cursor: pointer;
                        border-radius: 6px;
                        
    
                        &:hover {
                            background-color: #202020;
    
                            .play-pause {
                                position: absolute;
                                opacity: 1;
                                right: 15px;
                                bottom: 65px;
                            }
    
                            .play {
                                display: flex;
                            }
                        }
    
                        .content-img {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 180px;
                            border-radius: 50%;
                            overflow: hidden;
    
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
    
                        .content-data {
                            display: flex;
                            flex-direction: column;
                            gap: 3px;
    
                            .title {
                                font-size: 16px;
                                font-weight: 500;
                                color: white;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
    
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }
    
    
                            .name {
                                font-size: 14px;
                                font-weight: 400;
                                color: #bbbbbb;
                            }
                        }
    
                        .play-pause {
                            position: absolute;
                            opacity: 0;
                            right: 20px;
                            bottom: 40px;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                            background-color: #65d36e;
                            padding-left: 1px;
                            transition: all 0.2s ease;
                            box-shadow: 0px 0px 5px 0px;
    
                            &:hover {
                                transform: scale(1.05);
                            }
    
                            img {
                                width: 70%;
                                height: 70%;
                            }
                        }
                    }
                }   
            }
        }
    }
}
