.container {
    width: calc(100% - 680px);
    min-width: 600px;
    height: 100%;
    background: #181818;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

    header {
      position: sticky;
      top: 0;
      width: 100%;
      background: #181818;
      z-index: 1000;

      .inner-header {
        padding: 15px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: all 1s ease;
        position: relative;

        .left-header {
          display: flex;
          align-items: center;
          gap: 10px;

          button {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            background-color: #000000cc;
            border-radius: 50px;
            transition: all 0.3s ease;

            &:hover {
              transform: scale(1.05);
            }

            img {
              width: 24px;
              height: 24px;
              border-radius: 100%;
            }
          }
          input {
            display: block;
            border: 0;
            width: 250px;
            height: 50px;
            border-radius: 20px;
            padding-inline: 40px 0;
            color: white;
            background: #242424;
            background-image: url("/icons/9035096_search_icon.svg");
            background-repeat: no-repeat;
            background-size: 27px;
            background-position: left 5px center;
          }
        }

        .right-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          button {
            height: 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            padding: 6px 8px;
            background-color: #000000cc;
            border-radius: 50px;
            transition: all 0.3s ease;

            &:nth-child(1) {
              background: white;
              padding-block: 6px;
              padding-inline: 15px;

              span {
                color: black;
              }
            }

            &:nth-child(3) {
              width: 35px;
              height: 35px;
              justify-content: center;

              img {
                width: 20px;
                height: 20px;
              }
            }

            &:nth-child(4) {
              width: 35px;
              height: 35px;
              justify-content: center;

              img {
                width: 25px;
                height: 25px;
              }
            }

            &:hover {
              transform: scale(1.05);
            }

            img {
              width: 24px;
              height: 24px;
              border-radius: 100%;
            }

            span {
              color: white;
              font-size: 14px;
              font-weight: 700;
              padding-bottom: 1px;
            }
          }
        }
      }
    }
}
